In [7]:
#Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
#Creating dataframes
bitcoin = pd.read_csv('./crypto/bitcoin_price.csv')
ethereum = pd.read_csv('./crypto/ethereum_price.csv')

ibm = pd.read_csv('./dow/IBM.csv')
msft = pd.read_csv('./dow/MSFT.csv')

#print(bitcoin.head())
ibm.rename(columns={'date': 'Date'}).head()
bitcoin.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,2/20/2018,11231.8,11958.5,11231.80,11403.7,"9,926,540,000","189,536,000,000"
1,2/19/2018,10552.6,11273.8,10513.20,11225.3,"7,652,090,000","178,055,000,000"
2,2/18/2018,11123.4,11349.8,10326.00,10551.8,"8,744,010,000","187,663,000,000"
3,2/17/2018,10207.5,11139.5,10149.40,11112.7,"8,660,880,000","172,191,000,000"
4,2/16/2018,10135.7,10324.1,9824.82,10233.9,"7,296,160,000","170,960,000,000"

In [30]:
pd.merge(bitcoin, ibm, how=inner, on='Date')

NameError: name 'inner' is not defined