In [101]:
#Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import pymysql

In [102]:
pymysql.install_as_MySQLdb()

In [103]:
#Creating dataframes
bitcoin = pd.read_csv('./crypto/bitcoin_price.csv')
ibm = pd.read_csv('./dow/IBM.csv')

ibm.head()

,date,open,high,low,close,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,1/9/2014,158.5454,158.9480,156.4736,157.1698,4322284,4322284,-0.494880,-0.314,157.4492,9-Jan-14,0.000000
1,1/10/2014,157.9499,158.1680,156.2472,157.0692,4023089,4023089,-0.100653,-0.064,156.9879,10-Jan-14,-0.000640
2,1/13/2014,156.2304,156.8092,154.2173,154.4690,5789107,5789107,-2.600200,-1.655,154.8575,13-Jan-14,-0.017184
3,1/14/2014,155.2239,156.3713,154.2356,155.9452,4619509,4619509,1.476200,0.956,155.6201,14-Jan-14,-0.007792
4,1/15/2014,155.8613,158.2351,155.5845,157.4718,4829291,4829291,1.526600,0.979,157.5421,15-Jan-14,0.001921

In [104]:
rds_connection_string = "guest@localhost/etl_project"
engine = create_engine(f'mysql://{rds_connection_string}')

In [105]:
#Creating Bitcoin and IBM tables under 'etl_project' database in MySQL
bitcoin.to_sql('bitcoin', con=engine, if_exists='replace')
ibm.to_sql('ibm', con=engine, if_exists='replace')

In [106]:
bitcoin_df = bitcoin[['Date','Close','Volume']]
bitcoin_df = bitcoin_df.rename(columns={'Close': 'Bitcoin Close', 'Volume':'Bitcoin Volume'})

ibm_df = ibm[['date','close','volume']]
ibm_df = ibm_df.rename(columns={'date': 'Date', 'close': 'IBM Close', 'volume': 'IBM Volume'})

comparison_df = pd.merge(ibm_df, bitcoin_df, on='Date')
comparison_df

           Date  IBM Close  IBM Volume  Bitcoin Close  Bitcoin Volume
0      1/9/2014   157.1698     4322284         846.86      59,998,600
1     1/10/2014   157.0692     4023089         868.48      31,876,800
2     1/13/2014   154.4690     5789107         841.20      45,580,900
3     1/14/2014   155.9452     4619509         833.27      20,829,800
4     1/15/2014   157.4718     4829291         860.90      28,107,200
5     1/16/2014   158.3273     4775167         835.63      19,149,300
6     1/17/2014   159.4429     7671146         814.64      39,031,700
7     1/21/2014   158.0505    11121410         863.91      18,997,300
8     1/22/2014   152.8669    13800586         845.59      18,453,700
9     1/23/2014   153.2695     6974334         822.04      15,607,100
10    1/24/2014   150.6777     6938768         797.07      34,912,000
11    1/27/2014   149.2182     5209244         771.39      49,233,600
12    1/28/2014   148.3375     5336989         812.51      44,875,500
13    1/29/2014   147.9601     4971142         826.00      17,984,400
14    1/30/2014   148.7653     4854397         819.03      29,918,200
15    1/31/2014   148.1949     5195381         829.92      17,107,900
16     2/3/2014   145.0244     7187767         823.83      13,940,100
17     2/4/2014   144.9740     4351180         827.96      16,609,700
18     2/5/2014   146.1483     4714375         811.91      22,395,100
19     2/6/2014   147.3121     4292478         781.55      50,108,700
20     2/7/2014   149.4880     4725647         712.40     113,643,000
21    2/10/2014   149.3953     3544486         681.03     112,758,000
22    2/11/2014   151.5543     4654207         672.17      72,745,200
23    2/12/2014   152.0097     3984148         651.72      25,367,600
24    2/13/2014   153.3591     4482761         605.24      38,588,100
25    2/14/2014   154.9194     4665873         661.99     102,506,000
26    2/18/2014   154.4977     4435484         626.60      20,015,100
27    2/19/2014   154.2953     4671705         623.03      13,897,800
28    2/20/2014   155.4001     4968267         556.14      46,905,000
29    2/21/2014   154.1603     5699331         574.16      47,308,100
...         ...        ...         ...            ...             ...
1006   1/8/2018   156.3959     5237523       15170.10  18,413,900,000
1007   1/9/2018   156.7403     4341810       14595.40  16,660,000,000
1008  1/10/2018   157.0752     4174105       14973.30  18,500,800,000
1009  1/11/2018   157.0943     3794453       13405.80  16,534,100,000
1010  1/12/2018   156.0802     5031886       13980.60  12,065,700,000
1011  1/16/2018   156.7595     7794195       11490.50  18,853,800,000
1012  1/17/2018   161.3517    11710033       11188.60  18,830,600,000
1013  1/18/2018   161.8014    14259345       11474.90  15,020,400,000
1014  1/19/2018   155.3435    21172488       11607.40  10,740,400,000
1015  1/22/2018   155.5636     8480795       10931.40  10,537,400,000
1016  1/23/2018   159.0556     7466232       10868.40   9,660,610,000
1017  1/24/2018   158.2137     5645003       11359.40   9,940,990,000
1018  1/25/2018   158.3094     3302520       11259.40   8,873,170,000
1019  1/26/2018   160.0984     3787913       11171.40   9,746,200,000
1020  1/29/2018   159.5818     3516995       11296.40   7,107,360,000
1021  1/30/2018   156.5394     4902341       10106.30   8,637,860,000
1022  1/31/2018   156.6160     4072830       10221.10   8,041,160,000
1023   2/1/2018   155.3722     4434242        9170.54   9,959,400,000
1024   2/2/2018   152.1480     5251938        8830.75  12,726,900,000
1025   2/5/2018   145.9293     8746599        6955.27   9,285,290,000
1026   2/6/2018   148.6177     9867678        7754.00  13,999,800,000
1027   2/7/2018   147.1922     6149207        7621.30   9,169,280,000
1028   2/8/2018   142.5934     6779095        8265.59   9,346,750,000
1029   2/9/2018   144.4484     7828290        8736.98   6,784,820,000
1030  2/12/2018   146.2744     5881377        8926.57   6,256,440,000
1031  2/13/2018   145.6464     4891010        8598.31   5,696,720,000
1032  2/14/2018   149.5207     5479033        9494.63   7,909,820,000
1033  2/15/2018   150.7283     5623581       10166.40   9,062,540,000
1034  2/16/2018   150.8926     4282908       10233.90   7,296,160,000
1035  2/20/2018   149.9071     4489604       11403.70   9,926,540,000

[1036 rows x 5 columns]

In [107]:
comparison_df.to_sql('ibm vs bitcoin', con=engine, if_exists='replace')